*{
    margin: 0;
    font-family: Arial;
    border: border-box ;
}
body{
    margin: 0;
    padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.row{
    margin-top: 5%;
    margin-bottom: 5%;
}
  

.navbar {
    height: 60px;
    background-color: rgb(190, 180, 180);
}
.nav-text {
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
}
h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
    
}
  
section {
    position: relative;
    padding: 15px;
    width: 100%;
}
p {
    position: relative;
    clear: right;
}
div {
    position: relative;
    background-color: rgb(203, 197, 197);
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.sub1 {
    width: 100px;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}
.sub2 {
    width: 100px;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}
.sub3 {
    width: 100px;
    padding: 5px;
  
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    
}
.content {
    padding: 5px;
    border: none;
    background-color: rgb(198, 194, 194);
    font-family: Helvetica;
    color: black;
    margin: 0px;
    height: 200px;
    overflow: auto;
}
.row {
    width: 90%;
}

/*desktop version*/
@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/*tablet version*/
@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*mobile version*/
@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
    .dropdown {
        float:left;
    }
}
